<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huangshangi.myblog.mapper.CommentMapper">
    <resultMap id="BaseTreeResultMap" type="com.huangshangi.myblog.entity.CommentTree">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parentId" property="parentId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="articleId" property="articleId" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <association property="user" select="com.huangshangi.myblog.mapper.UserMapper.getUserById" column="uid" />
        <collection column="id" property="list" javaType="java.util.List"
                    ofType="com.huangshangi.myblog.entity.CommentTree" select="getNextCommentTree"/>
    </resultMap>

    <resultMap id="NextTreeResultMap" type="com.huangshangi.myblog.entity.CommentTree">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parentId" property="parentId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="articleId" property="articleId" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <association property="user" select="com.huangshangi.myblog.mapper.UserMapper.getUserById" column="uid" />
        <collection column="id" property="list" javaType="java.util.List"
                    ofType="com.huangshangi.myblog.entity.CommentTree" select="getNextCommentTree"/>
    </resultMap>


    <select id="getNextCommentTree" resultMap="NextTreeResultMap">
        SELECT
       *
        FROM comment
        WHERE parentId = #{value }
    </select>

    <select id="getCommentTree" resultMap="BaseTreeResultMap">
        SELECT
        *
        FROM comment
        WHERE articleId=#{id} and parentId=0;
    </select>

    <select id="getComments"  resultType="com.huangshangi.myblog.entity.Comment">
        select *
        from
        comment
        where articleId=#{id} and parentId=0
        <if test="#{size}!=-1" >
        limit #{size}
        </if>
        order by
        #{style}
    </select>

    <delete id="deleteCommentById" parameterType="java.lang.Integer" statementType="CALLABLE">
        call proc_delete_comment(#{id,mode=IN})
    </delete>
</mapper>